[submodule "apps/c-gateway"]
	path = apps/c-gateway
	url = git@github.com:rustkas/beamline-c-gateway.git
[submodule "apps/caf"]
	path = apps/caf
	url = git@github.com:rustkas/beamline-caf.git
[submodule "apps/ui_web"]
	path = apps/ui_web
	url = git@github.com:rustkas/beamline-ui-web.git
[submodule "apps/otp/router"]
	path = apps/otp/router
	url = git@github.com:rustkas/beamline-otp-router.git
